:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
}

.buttons {
	display: flex;
	flex-direction: column;
}

/* .buttons ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} */

.clear-row {
	display: flex;
	flex-direction: row;
}

#clear-button {
	width: 10rem;
}

.top-row {
	display: flex;
	flex-direction: row;
}

.middle-row {
	display: flex;
	flex-direction: row;
}

.bottom-row {
	display: flex;
	flex-direction: row;
}

.buttons ul {
	padding: 1rem;
}

.buttons li {
	list-style: none;
	padding: .25rem;
}

.buttons button {
	font-size: 3rem;
	width: 3rem;
	border: 2px solid blue;
	margin: 0;
	padding: 0;
}

.output {
	font-size: 3rem;
}

.calculator {
	border: 2px solid black;
	text-align: center;
	width: 300px;
	margin: auto;
}

.buttons {
	align-items: center;
}

h1 {
	margin: 0;
	padding: .5rem;
}

#display {
	text-align: right;
	background-color: brown;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 3rem;
	padding: 1rem;
}
